@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Cormorant Garamond", serif;
  
  --color-prestige-blue: #14354D;
  --color-platinum: #E2E8F0;
  --color-paper: #F5F2ED;
  --color-ink: #1A1A1A;
  --color-laser-blue: #00A3FF;
}

@layer base {
  body {
    @apply bg-paper text-ink font-sans;
  }
  
  h1, h2, h3, h4, .serif {
    @apply font-serif;
  }
}
